/*----RESET----*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*----STOP RESET----*/


/*body{
	padding: 10px;
	border-radius: 5px;
	background-color: #F4F7F8;
	overflow: hidden;
	display: block;
	max-width: 600px;
	margin: auto;
	/*border: 5px solid black;*/
/*}*/


#container{
	padding: 10px;
	border-radius: 5px;
	background-color: #F4F7F8;
	overflow: hidden;
	display: block;
	max-width: 600px;
	margin: auto;
	/*border: 5px solid black;*/
}
.legend{
	font-size: 30px;
	/*font-weight: bold;*/
	margin-left: 70px;
	padding: 5px 0 5px 0;

}
.legend span{
	color: #F4F7F8;
	position: absolute;
	background-color: #53BA9D;
	border-radius: 50% 50% 50% 0;
	width: 30px;
	height: 30px;
	font-size: 20px;
	text-align: center;
	margin-left: -45px;
	padding: 5px 2px 0 2px;
	/*line-height: 20px;*/
}
label{
	margin: 20px 0 0 25px;
	font-size: 20px;
}
input, textarea, select{
	display: block;
	width: 90%;
	margin: auto;
	background-color: #E9EEEF;
	margin: 15px auto 35px;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	font-family: Lucida-grande;
	height: 35px;
	padding-left: 5px;
}

input:last-child{
	width: 95%;
	background-color: #53BA9D;
	height: 60px;
	border-radius: 0;
	color: #F4F7F8;
	/*box-shadow: 1px 1px 5px #469E86;*/
	border: 1px solid #469E86;
	border-bottom: 2px solid #469E86;
}
select{
	height: 35px;
	margin-bottom: 30px;
	color: #757575;
}

textarea{
	height: 50px;
}